body {
  font-family: sans-serif;
}

h1 {
  color: hsl(340, 100%, 55%);
}

.second-element code {
  color: green;
}

code {
  font-family: monospace;
  color: red;
}

li {
  font-family: inherit;
}

li:not(:first-child) {
  background-color: black;
  color: white;
}

ol > li {
  background-color: black;
  color: white;
}
